{% extends "core.html" %}

{% load i18n %}
{% load static %}

{% block bodyclasses %}{% endblock bodyclasses %}

{% block body %}

  <!-- Navigation -->

  <div class="text-center">
    {# URL provided by django-allauth/account/urls.py #}
    <a href="{% url 'account_signup' %}"><i class="fa fa-link"></i> <span>{% trans "Sign Up" %}</span></a>
    {# URL provided by django-allauth/account/urls.py #}
    <a href="{% url 'account_login' %}"><i class="fa fa-link"></i> <span>{% trans "Sign In" %}</span></a>
  </div>

  {% block content %}{% endblock content %}

  <!-- Footer -->

{% endblock body %}
