{% extends "core.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock title %}

{% block bodyclasses %}hold-transition login-page{% endblock bodyclasses %}

{% block body %}
  <div class="login-box">
    <div class="login-logo">
      <a>{% include 'partials/appname.html' %}</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <h2 class="login-box-msg">{% trans "Sign In" %}</h2>
      <p class="login-box-msg">{% blocktrans %}Sign in to start your session or <a href="{{ signup_url }}">Sign Up</a> if you have not created an account yet.{% endblocktrans %}</p>
      <form action="{% url 'account_login' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="primaryAction btn btn-primary btn-block btn-flat">{% trans "Sign In" %}</button>
      </form><br>
      <div class="text-center">
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
      </div>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
{% endblock body %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $('div#div_id_remember').addClass('icheck');
  </script>
{% endblock javascript %}
