{% extends "core.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block bodyclasses %}hold-transition login-page{% endblock bodyclasses %}

{% block body %}
  <div class="login-box">
    <div class="login-logo">
      <a>{% include 'partials/appname.html' %}</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <h2 class="login-box-msg">{% trans "Password Reset" %}</h2>
      <p class="login-box-msg">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
      <p class="login-box-msg">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
      <form class="password_reset" action="{% url 'account_reset_password' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary btn-block btn-flat" type="submit" value="{% trans 'Reset My Password' %}" />
      </form>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
{% endblock body %}
