{% extends "core.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block bodyclasses %}hold-transition login-page{% endblock bodyclasses %}

{% block body %}
  <div class="login-box">
    <div class="login-logo">
      <a>{% include 'partials/appname.html' %}</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <h2 class="login-box-msg">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

      {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="login-box-msg">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
      {% else %}
        {% if form %}
          <form method="POST" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" class="btn btn-primary btn-block btn-flat" value="{% trans 'Change Password' %}"/>
          </form>
        {% else %}
          <p class="login-box-msg">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
      {% endif %}
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
{% endblock body %}
