{% extends "core.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block bodyclasses %}hold-transition login-page{% endblock bodyclasses %}

{% block body %}
  <div class="login-box">
    <div class="login-logo">
      <a>{% include 'partials/appname.html' %}</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <h2 class="login-box-msg">{% trans "Change Password" %}</h2>
      <p class="login-box-msg">{% trans "Your password is now changed." %}</p>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
{% endblock body %}
