{% extends "core.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block bodyclasses %}hold-transition login-page{% endblock bodyclasses %}

{% block body %}
  <div class="login-box">
    <div class="login-logo">
      <a>{% include 'partials/appname.html' %}</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <h2 class="login-box-msg">{% trans "Password Reset" %}</h2>

      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p class="login-box-msg">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
{% endblock body %}
