{% extends "core.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Up Closed" %}{% endblock title %}

{% block bodyclasses %}hold-transition login-page{% endblock bodyclasses %}

{% block body %}
  <div class="login-box">
    <div class="login-logo">
      <a>{% include 'partials/appname.html' %}</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <h2 class="login-box-msg">{% trans "Sign Up Closed" %}</h2>
      <p class="login-box-msg">{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
{% endblock body %}
