{% extends "core.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock title %}

{% block bodyclasses %}hold-transition login-page{% endblock bodyclasses %}

{% block body %}
  <div class="login-box">
    <div class="login-logo">
      <a>{% include 'partials/appname.html' %}</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <h2 class="login-box-msg">{% trans "Verify Your E-mail Address" %}</h2>
      {% url 'account_email' as email_url %}
      <p class="login-box-msg">{% blocktrans %}This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you verify ownership of your e-mail address. {% endblocktrans %}</p>
      <p class="login-box-msg">{% blocktrans %}We have sent an e-mail to you for verification. Please click on the link inside this e-mail and contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
      <p class="login-box-msg">{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %}</p>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
{% endblock body %}
