# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_DB=krv_je_zivot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# PostgreSQL
# ------------------------------------------------------------------------------
DATABASE_URL="postgres://postgres:password@127.0.0.1:5432/krv_je_zivot"
