{% load i18n %}
{% load static %}

<!-- Sidebar user panel (optional) -->
<div class="user-panel">
  <div class="pull-left image">
    <img src="{% static 'images/user.svg' %}" class="img-circle" alt="User Image">
  </div>
  <div class="pull-left info">
    <p>{{ user.username }}</p>
    <!-- Status -->
    <a><i class="fa fa-circle text-success"></i> {% trans "Online" %}</a>
  </div>
</div>

<!-- search form (Optional) -->
<form action="#" method="get" class="sidebar-form">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
        </button>
      </span>
  </div>
</form>
<!-- /.search form -->

<!-- Sidebar Menu -->
<ul class="sidebar-menu" data-widget="tree" data-accordion="false">
  <li class="header">GENERAL</li>
  <li>
    <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
  </li>
  <li>
    <a id="channel-add-button"><i class="fa fa-plus"></i> <span>Create Channel</span></a>
  </li>
  <li class="header">CHAT</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="treeview">
    <a><i class="fa fa-cubes"></i> <span>Channels</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      {% comment %} {% for chan in user_channels_list %} {% endcomment %}
        <li>
          <a href="#"><i class="fa fa-cube"></i> <span>abc · </span></a>
        </li>
      {% comment %} {% endfor %} {% endcomment %}
    </ul>
  </li>
  <li class="treeview">
    <a><i class="fa fa-users"></i> <span>Direct Chat</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      {% comment %} {% for user in users_list %} {% endcomment %}
        <li>
          <a href="#"><i class="fa fa-user"></i> <span>abc</span></a>
        </li>
      {% comment %} {% endfor %} {% endcomment %}
    </ul>
  </li>
  <li class="header">OTHER</li>
  <li>
    <a href="#"><i class="fa fa-plus"></i> <span>Invite People</span></a>
  </li>
  <li>
    <a href="#"><i class="fa fa-wrench"></i> <span>Settings</span></a>
  </li>
</ul>
<!-- /.sidebar-menu -->
