{% extends "base.html" %}

{% block pageheader %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Donation Venues
    <small>eligible donation venues</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a>
        <i class="fa fa-dashboard"></i> Donation Venues</a>
    </li>
  </ol>
</section>
{% endblock pageheader %}

{% block content %}

<table id="venues-table" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Average Recall</th>
    </tr>
  </thead>
  <tbody>
    {% for venue in donation_venues_list %}
      <tr id="venue-{{ venue.id }}">
        <td>{{ venue.name }}</td>
        <td>{{ venue.address }}</td>
        <td>{{ venue.average_recall }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#venues-table').DataTable();
    });
  </script>
{% endblock javascript %}
