{% extends "base.html" %}

{% block pageheader %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Donation Events
    <small>scheduled donation events</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a>
        <i class="fa fa-dashboard"></i> Donation Events</a>
    </li>
  </ol>
</section>
{% endblock pageheader %}

{% block content %}

<table id="events-table" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Venue</th>
      </tr>
    </thead>
    <tbody>
      {% for event in donation_events_list %}
        <tr id="event-{{ event.id }}">
          <td>{{ event.name }}</td>
          <td>{{ event.event_start }}</td>
          <td>{{ event.event_end }}</td>
          <td>{{ event.venue.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#events-table').DataTable();
    });
  </script>
{% endblock javascript %}
