{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Account" %}{% endblock title %}

{% block content %}

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{% trans "Account" %}</h3>
        </div>
        <div class="box-body">
          <form method="post" action="{% url 'users:update' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
