{% extends "base.html" %}
{% load static %}

{% block pageheader %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>check out what's new</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a>
        <i class="fa fa-dashboard"></i> Dashboard</a>
    </li>
  </ol>
</section>
{% endblock pageheader %}

{% block content %}

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-red" >
      <span class="info-box-icon bg-red" >
        <i class="fa fa-heartbeat" style="color:red"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">O+</span>
        <span class="info-box-number">110%</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-red" >
      <span class="info-box-icon bg-red" >
        <i class="fa fa-heartbeat" style="color:red"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">A+</span>
        <span class="info-box-number">87%</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-red" >
      <span class="info-box-icon bg-red" >
        <i class="fa fa-heartbeat" style="color:red"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">B+</span>
        <span class="info-box-number">70%</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-red" >
      <span class="info-box-icon bg-red" >
        <i class="fa fa-heartbeat" style="color:red"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">AB+</span>
        <span class="info-box-number">91%</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-red" >
      <span class="info-box-icon bg-red" >
        <i class="fa fa-heartbeat" style="color:red"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">O-</span>
        <span class="info-box-number">138%</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-red" >
      <span class="info-box-icon bg-red" >
        <i class="fa fa-heartbeat" style="color:red"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">A-</span>
        <span class="info-box-number">88%</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-red" >
      <span class="info-box-icon bg-red" >
        <i class="fa fa-heartbeat" style="color:red"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">B-</span>
        <span class="info-box-number">78%</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-red" >
      <span class="info-box-icon bg-red" >
        <i class="fa fa-heartbeat" style="color:red"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text style="font-size:60px;">AB-</span>
        <span class="info-box-number">67%</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>
<section class="content">

  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <!-- The time line -->
      <ul class="timeline">
        <!-- timeline time label -->
        <li class="time-label">
          <span class="bg-red">
            10 Jan. 2014
          </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-heartbeat"></i>

          <div class="timeline-item">
            <span class="time">
              <i class="fa fa-clock-o"></i> 12:05</span>

            <h3 class="timeline-header">
              <a href="#">Porec: </a> Successfully collected 273 l of blood stocks.</h3>
            <div class="timeline-body">
            </div>
            <div class="timeline-footer">
              <a class="btn btn-primary btn-xs">Read more</a>
            </div>
          </div>
        </li>

        <li class="time-label">
          <span class="bg-red">
            10 Jan. 2014
          </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-heartbeat"></i>

          <div class="timeline-item">
            <span class="time">
              <i class="fa fa-clock-o"></i> 12:05</span>

            <h3 class="timeline-header">
              <a href="#">Zagreb: </a> Successfully collected 174 l of blood stocks.</h3>
            <div class="timeline-body">
            </div>
            <div class="timeline-footer">
              <a class="btn btn-primary btn-xs">Read more</a>
            </div>
          </div>
        </li>

      </ul>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{% endblock content %}
